$whiteColor: #ffffff;
$lightBlueColor:   #f4faff;
$primaryTitleColor: #003a59;
$submitBtnColor: #00598d;
$secondaryTitleColor: #728197;
$expiringBgSoonColor: rgb(242, 242, 197);
$expiringSoonColor: #c19207;
$expiredColor: rgb(62, 5, 5);
$expiredBgColor: rgb(247, 185, 185);
$healthyBgColor:  #cdead3bd;
$healthyColor: #28a745;
$errorColor: rgb(243, 27, 27);